.button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s;
}


.button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s;
}
