.profile {
  position: relative;
  z-index: 0;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    grid-template-columns: 120px 2.35fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    grid-template-columns: 120px 1fr;
  }
}

@media screen and (max-width: 560px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

@media screen and (max-width: 460px) {
  .profile {
    gap: 0;
    margin-top: 42px;
  }
}
