.header__user-email {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: right;
  justify-self: right;
  overflow-wrap: break-word;
  word-break: break-all;
}

@media screen and (max-width: 600px) {
  .header__user-email {
    font-size: 14px;
  }
}
