.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2 * 200px);
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1100px) {
  .header {
    width: 683px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    width: calc(100% - 2 * 100px);
  }
}

@media screen and (max-width: 700px) {
  .header {
    width: 483px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: calc(100% - 2 * 50px);
  }
}

@media screen and (max-width: 460px) {
  .header {
    margin-top: 28px;
    width: 100%;
  }
}
